#footer {
    background-color: #121212;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footerLink {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 15px;
}

    .footerLink:hover {
        text-decoration: underline;
    }
